@import url(global.style.css);

main section#description {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section#description div#panthereni {
    
}

main section#description img#panthereni {
    max-inline-size: 100%;
    block-size: auto;
}

main section#description div#profile {
    
}

main section#description div#profile h2 {
    font-size: 3vw;
    color: var(--violet-400); 
}

main section#description div#profile div#text {
    background-image: url(../assets/enigme/Pantherenigme2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40vw;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section#description div#profile div#text p {
    font-size: 0.75vw;
    width: 35vw;
    line-clamp: 6;
    padding: 3vw;
}

